body{
    background: darkgrey;
}
.artem {
    margin: 0 auto;
    height: 572px;
    width: 288px;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
}