@import url('./common.css');
/* ##################### ########################################################*/
.catalog h3 {
    /*color: #000000;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    margin: 0 0 2rem 0;*/
  color: #ffffff;
  background: #535a53;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.5px;
  }
.catalog-wrap {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25vw 25vw;
  justify-content: center;
  /*margin-bottom: 10rem;*/
}
.catalog-card {
  display: block;
  text-align: center;
  text-decoration: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border: 1px solid #535a53;
  position: relative;
  overflow: hidden;
}
.catalog-card:hover {
  filter: grayscale(0);
}
.catalog-card:hover .catalog-card__name {
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  color: #000000;
  padding: 0;
  height: 25%;
  text-shadow: 1px 1px white, 2px 2px white, -1px -1px white, -2px -2px white, -1px 1px white, 1px -1px white, -2px 2px white, 2px -2px white, -3px -3px 4px rgba(0,0,0,.3), -3px 3px 4px rgba(0,0,0,.3), 3px 3px 4px rgba(0,0,0,.3), 3px -3px 4px rgba(0,0,0,.3); 
}
.catalog-card__name {
  color: #ffffff;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding-top: 35%;
  transition: 0.5s;
  box-sizing: border-box;
}