@import url('./common.css');
@import url('./category.css');

.popular-product {
	color: #ffffff;
	background: #535a53;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
	text-align: center;
}

.advantages{
	display: flex;
	justify-content: center;
	padding: 10rem 0;
}
.advantages-item{
	padding-right: 50px;
	text-align: center;
}
.advantages-item:last-child{
	padding-right: 0;
}
.advantages-icon{
	width: 100px;
	height: 100px;
	fill: #535a53;
	margin: 0 auto;
}
.advantages-title {
	font-size: 1.3rem;
}
.advantages-description{
	font-size: 0.9rem;
	letter-spacing: 1px;
}

