.news-container {
	display: flex;
}
.news {
	width:33.333%;
	margin: 15px;
	background: #ffffff;
}
.news__img {	
	height: 40%;
  overflow: hidden;
  display: block;
}
.news__img img {
	width: 100%;
}
.news__text {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
}