@import url('./common.css');

header {
	height: 420px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header__title {
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	font-size: 35px;
	line-height: 40px;
	font-weight: 700;
	color: #ffffff;
	padding-top: 115px;
}
.separator {
	width: 65px;
	height: 2px;
	background: #0b79bf;
	margin: 14px 0;
}
.links {
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	color: #ffffff;
	font-size: 13px;
}
.links a {
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	color: #ffffff;
}
.links a:hover {
	color: #0b79bf;
}
.links span {

}
.content {
	display: flex;
	max-width: 60rem;
	margin: 3rem auto;
	padding: 40px 0;
}
.content-img {
	width: 30rem;

}
.content-img img {
	width: 100%;
}
.content-description {
	width: 30rem;
	padding: 2rem;
	box-sizing: border-box;
	
}
.content-description p {
	/*font-size: 1.2rem;*/
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.content-title {
	margin-top: 0;
	color: #303030;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
	margin-bottom: 32px;
}
.tabs-wrapp {
	padding: 50px 0;
	max-width: 1000px;
	margin: 0 auto;
}
.tabs {
	margin: 0 0 50px 0;
}
.tabs__items {
	display: flex;
}
.tabs__link {
	flex: 0 1 33.333%;
	height: 80px;
	/*background: darkslategray;*/
	background-color: #1780c2;
	font-size: 1rem;
	color: #ffffff;
	transition: 0.3s;
	border-radius: 10px 10px 0 0;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.active {
	/*background: #ddd;*/
	background: #ffffff;
	color: #000000;
}
.tabs__block {
	background: #ffffff;
	position: relative;
	border-radius: 0 0 10px 10px;
	display: none;
	padding: 3rem 3rem;
	min-height: 20rem;
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.tabs__block h6 {
	olor: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
}
.tabs__block table {
	border-collapse: collapse;
}
.tabs__block th, td {
	border: 1px solid #000000;
	margin: 0;
	padding: 0.5rem 1rem;
	text-align: center;
}
.left {
	text-align: left;
}