@import url('./common.css');

.razdel__title {
	color: #ffffff;
  background: #535a53;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: Asylbek;
  font-weight: lighter;
}
.product {
	border: 2px solid #ddd;
	width: 70rem;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
}
.product__img {
	width: 30rem;
	height: 30rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/*border: 2px solid #ddd;*/
}
.product-info {
	width: 40rem;
	padding-top: 8rem;
}
.product__name {
	text-align: center;
	font-size: 2rem;
	font-family: Asylbek;
	letter-spacing: 2px;
	margin-bottom: 5rem;
}
.line-2 {
	display: flex;
	justify-content: space-around;
}
.line__btn {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 4rem;
	color: #ffffff;
	background: darkslategray;
	height: 4rem;
	width: 12rem;
	font-size: 1.2rem;
	border-radius: 10px;
}
