@import url('./common.css');

.razdel-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 65px 0;
	justify-content: center;
}
.razdel-info {
	width: 45%;
	padding-right: 30px;
}
.razdel__img {
	width: 40%;
}
.razdel__img img {
	width: 100%;
}
.razdel__title {
	color: #303030;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
	margin-bottom: 32px;
}
.razdel__text {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.product {
	border: 2px solid #ddd;
	background-color: #ffffff;
	width: 70rem;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
}
.product__img {
	width: 30rem;
	height: 30rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/*border: 2px solid #ddd;*/
}
.product-info {
	width: 40rem;
	padding-top: 8rem;
}
.product__name {
	text-align: center;
/*	font-size: 2rem;
	letter-spacing: 2px;*/
	margin-bottom: 5rem;
	color: #303030;
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.3px;
}
.line-2 {
	display: flex;
	justify-content: space-around;
}
.line__btn {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 4rem;
	color: #ffffff;
	background: darkslategray;
	height: 4rem;
	width: 12rem;
	font-size: 1.2rem;
	border-radius: 10px;
}
