nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.toplist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toplist i {
  font-size: 16px;
}
.toplist a {
  padding: 7px 10px;
  font-size: 13px;
  color: #FEFDFD;
}
.topmenu > li {
  float: left;
  position: relative;
}
.topmenu > li > a {  
  padding: 30px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FEFDFD;
  letter-spacing: 2px;
} 
.submenu a:hover {color: gray;}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: rgba(0, 0, 0, .8);
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 13px;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}